<div x-ng-app="geotweepApp">
	<div x-ng-controller="SearchesCtrl">

		<div class="container">
			<h2 class="title"><%= @user.email %></h2>
			<h5>Joined on <%= @user.created_at.to_formatted_s(:long) %>.</h5>
			<br>
			<h2>Search History</h2>
			<h5>You have <%= @user.searches.count %> 
					<% if @user.searches.count == 1 %>
						search!
					<% else %>
						searches!
					<% end %></h5>
					<br>

				<% @user.searches.each do |search| %>
					<h6><%= search.created_at.to_formatted_s(:long) %></h6>
					<% @terms = Term.where(:search_id => search.id) %>
						<% @terms.each do |term| %>
							<div class="view-terms">
								<%= term.text %>
							</div>
						<% end %>
					<br>
				<% end %>
			
			<h2>Top Searches</h2>

				<% @term_count.first(10).each do |term| %>
					<div class="view-terms">
						<%= term[0] %>
						<%= term[1] %>
					</div>
				<% end %> <br>


			<h2>Recent Searches</h2>

				<div x-ng-repeat = "search in searches|limitTo:10">
					<div x-ng-repeat = "term in search.terms">
							<div class="view-terms">
								{{term.text}}
							</div>
					</div>
				</div>
		</div>

	</div>
</div>
