<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">GEOTWEEP</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <% if user_signed_in? %>
        <ul class="left">
          Logged in as <strong><%= current_user.email %></strong>
        </ul>
        <ul class="right">
          <%= link_to "EDIT PROFILE", edit_user_registration_path %> 
          <%= link_to "LOGOUT", destroy_user_session_path, method: :delete %>
        </ul>
        <% else %>
        <ul class="right">
          <%= link_to "SIGN UP", new_user_registration_path %> 
          <%= link_to "LOGIN", new_user_session_path %>
        </ul>
        <% end %>
      </section>
    </nav>

    <% if notice %>
      <p><%= notice %></p>
    <% end %>
    <% if alert %>
      <p><%= alert %></p>
    <% end %>

    <%= javascript_include_tag "application" %>
    <%= yield %>
    
  </body>
</html>