<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Geotweep" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>


    <%= javascript_include_tag "application" %>

    <div class="off-canvas-wrap">
      <div class="inner-wrap page-wrapper">

        <nav class="tab-bar top-bar" data-topbar>
          <section class="left-small">
            <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
          </section>

          <section class="middle tab-bar-section">
            <h1 class="title"><a href="#"><%= link_to "Geotweep", root_path %></h1>
          </section>
          
          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
              <li class="has-dropdown">
                <% if user_signed_in? %>
                <a href="#"><%= current_user.email %></a>
                <ul class="dropdown">
                  <li><a href="#"><%= link_to "View Profile", user_path(current_user) %></a></li>
                  <li><a href="#"><%= link_to "Edit Profile", edit_user_registration_path %></a></li>
                  <li><a href="#"><%= link_to "Logout", destroy_user_session_path, method: :delete %></a></li>
                </ul>
                <% else %>
                  <ul class="right">
                    <li><a href="#"><%= link_to "Sign Up", new_user_registration_path %></a></li>
                    <li><a href="#"><%= link_to "Login", new_user_session_path %></a></li>
                  </ul>
                <% end %>
              </li>
            </ul>
          </section>
        </nav>

        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <% if user_signed_in? %>
              <li><label>Your Searches</label></li><br>
              <% User.find(current_user).searches.each do |s| %>

                <li><label><%= s.created_at.to_formatted_s(:long) %></label></li>
                <% s.terms.all.each do |term| %>
                  <% if term.text != nil && term.text != "" %>
                    <li class="search-colored">
                        <h4 class="text-center"><small><%= term.text %></small></h4>
                    </li>                        
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              <li><label>Create an Account to save your searches and see past ones!<label><li>
            <% end %>

          </ul>
        </aside>

        <section class="main-section">
          <!-- content goes here -->
          <%= yield %>
        </section>

        <a class="exit-off-canvas"></a>

      </div>
    </div> 
        
  </body>
</html>