<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= javascript_include_tag "application" %>

    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap page-wrapper">
        <nav class="tab-bar">
          <section class="left-small">
            <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
          </section>

          <section class="middle tab-bar-section">
            <h1 class="title">Geotweep</h1>
          </section>

          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <%= link_to "SIGN UP", new_user_registration_path %> 
                <%= link_to "LOGIN", new_user_session_path %>
                <%= link_to "LOGOUT", destroy_user_session_path, method: :delete %>
            </ul>
          </section>
        </nav>

        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><label>Your Searches</label></li>
            <br>
            <li><input id="checkbox1" type="checkbox"><label for="checkbox1">Earthquake</label></li>
            <li><input id="checkbox2" type="checkbox"><label for="checkbox1">Tornado</label></li>
            <li><input id="checkbox3" type="checkbox"><label for="checkbox1">Tsunami</label></li>
            <li><input id="checkbox4" type="checkbox"><label for="checkbox1">Hurricane</label></li>
            <li><input id="checkbox4" type="checkbox"><label for="checkbox1">Atom Bomb</label></li>  
          </ul>
        </aside>

        <section class="main-section">
          <!-- content goes here -->
          <%= yield %>
        </section>

        <a class="exit-off-canvas"></a>

      </div>
    </div> 
        
  </body>
</html>